.page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    font-weight: bold;
    padding: 0.2em;
}

.subTitle {
    font-weight: bold;
    padding: 0.6em;
}

.information {
    padding: 0.4em;
}