.page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title{
    padding: 5px;
}

.avatar{
    width: 250px;
    height: 250px;
    margin-bottom: 20px;
}

.texts{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.learnings{
    display: inline-flex;
    width:4%;
    height:3%; 
    align-items: center;
    padding: 2px;
}

.learningContainer{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 420px) {
    .page{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .avatar{
        width: 200px;
        height: 200px;
    }

    .texts{
        align-items: flex-start;
        justify-content: flex-start;
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
    
    .learnings{
        display: flex;
        width: 10%;
    }

    .learningContainer{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding-left: 0.5em;
        padding-right: 0.5em;
    }

    .turnBack{
    padding-top: 1.6em;
    }

}